* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body {
    background: linear-gradient(90deg,
            rgb(38, 220, 196) 0%,
            rgb(208, 53, 115) 100%);
}

.ToDoApp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

h2 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
}

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.ToDoForm {
    margin-bottom: 32px;
}

.ToDoInput {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

.ToDoInput::placeholder {
    color: #e2e2e2;
}

.ToDoButton {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%);
    color: #fff;
    text-transform: capitalize;
}

.ToDoInput.edit {
    border: 2px solid #149fff;
}

.ToDoButton.edit {
    background: linear-gradient(90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%);
    padding: 16px 22px;
}

.ToDoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(90deg,
            rgb(243, 4, 20) 0%,
            rgb(103, 64, 231) 100%);

    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.ToDoRow:nth-child(3n + 1) {
    background: linear-gradient(90deg,
            rgb(64, 74, 201) 0%,
            rgb(89, 237, 202) 100%);
}

.ToDoRow:nth-child(3n + 2) {
    background: linear-gradient(90deg,
            rgb(40, 216, 107) 0%,
            rgba(250, 0, 135, 1) 100%);
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.deleteIcon {
    margin-right: 5px;
    color: #fff;
}

.editIcon {
    color: #fff;
}

@media screen and (max-width: 700px) {
    .ToDoApp {
        width: 70%;
    }

    .ToDoInput {
        padding: 14px 32px 14px 16px;
        width: 70%;
    }

    h2 {
        margin: 32px;
    }
}